<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--PROPERTIES-->

    <properties resource="mybatis.properties">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
        <property name="username" value="root"/>
        <property name="password" value="root123456"/>
    </properties>

    <!--BEAN-->

    <typeAliases>
        <typeAlias type="zovlzhongguanhua.demo.mybatis.SystemUserBean" alias="systemUserBean"/>
    </typeAliases>

    <!--DATA SOURCE-->

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>

    <!--MAPPER-->

    <mappers>
        <mapper resource="mapper/userMapper.xml"/>
    </mappers>
</configuration>